app.properties
.idea
**.DS_Store**
**__init__.py**
!config/__init__.py
__pycache__
data/*
*.bin
*.pickle
saved_weights/*.npy
.env
*.pkl
*.csv
*.xlsx
cv_saved/*.pdf
__MACOSX

src/logs/*
htmlcov/
.coverage

flask_monitoringdashboard.db
.vscode
*.npy
